.productImgs {
  .carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
    margin-left: 25%;
  }

  .carousel-item img {
    height: 320px;
    object-fit: contain;
  }

  .carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);

    &.active {
      border-bottom: 4px solid #fff;
    }
  }

  .carousel-indicators {
    bottom: -80px !important;
  }
}

.productDetail {
  margin-top: 2.3em;
  height:320px;
  .wishList {
    float: right;
  }
  .input-group {
    width: 200px !important;
  }
}

// 3rd Column Delivery Option

.deliveryDetails {
  .bold {
    font-weight: bold;
    color: lightslategray;
  }
  margin-top: 35px;
  .iconCenter {
    position: absolute;
    padding-top: 15px;
  }
  .size {
    font-size: 20px;
  }
  .buttonCenter {
    position: absolute;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 40px;
    float: right;
  }
  .wishList {
    float: right;
  }
  .addressDetail {
    max-width: 220px;
    word-wrap: break-word;
    display: -webkit-inline-box;
    padding-left: 30px;
  }
  .blue {
    color: #66bcce;
  }
  .white-btn {
    border: none;
  }
  .deliveryDetail {
    max-width: 145px;
    word-wrap: break-word;
    display: -webkit-inline-box;
    padding-left: 30px;
  }
  .rupees {
    display: inline;
    font-weight: bold;
    position: absolute;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 140px;
  }
  .textSet {
    padding-left: 30px !important;
  }

  .small-box {
    margin: 2px 20px;
    font-size: medium;
    background-color: lightgrey;
  }
  .cashText {
    display: inline;
    padding-left: 10px;
  }
  .warranty {
    display: inline;
    padding-left: 12px;
  }
  .chat {
    max-width: 100px;
    word-wrap: break-word;
    display: -webkit-inline-box;
  }
  .color {
    color: lightslategray;
  }
}

.anItem {
  display: flex;
  .iconLeft {
    width: 40px;
    i {
      font-size: 20px;
      margin-top: 10px;
    }
  }
}

.reviewsSection {
  margin-top: 6em !important;
  .btn-grey {
    background-color: #d8d8d8;
    color: #fff;
  }
  .rating-block {
    background-color: #ffffff;
    border: 1px solid #efefef;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;
  }
  .padding-bottom-7 {
    padding-bottom: 7px;
  }
  .review-block {
    background-color: #ffffff;
    border: 1px solid #efefef;
    padding: 15px;
    border-radius: 3px;
  }
  .review-block-name {
    font-size: 12px;
    margin: 10px 0;
  }
  .review-block-date {
    font-size: 12px;
  }
  .review-block-rate {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .review-block-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .review-block-description {
    font-size: 13px;
  }
  .btn-warning,
  .btn-default {
    margin-right: 3px !important;
  }
}
ٖ .detailSets {
  background-color: #ffffff;
  .mixedDetail {
    display: flex;
  }
}
