<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark shadow fixed-top py-0">
  <a routerLink="/home" class="navbar-brand pointer">
    <img src="/assets/images/appLogo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li *ngIf="userType=='buyer'" routerLink="/home" class="nav-item mx-2 active">
        <a class="nav-link pointer">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <li *ngIf="userType=='seller'" routerLink="/seller-home" class="nav-item mx-2 active">
        <a class="nav-link pointer">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <li *ngIf="userType=='buyer'" routerLink="/buyer-orders" class="nav-item mx-2 active">
        <a class="nav-link pointer">
          <i class="fa fa-cube"></i>
          My Orders
        </a>
      </li>
      <li *ngIf="userType=='seller'" routerLink="/seller-orders" class="nav-item mx-2 active">
        <a class="nav-link pointer">
          <i class="fa fa-cube"></i>
          My Orders
        </a>
      </li>
    </ul>

    <div class="form-inline my-2 ml-auto mr-2">
      <button *ngIf="userType=='buyer'" (click)="sellerMode()" class="btn btn-success mr-3">Become a seller</button>
      <button *ngIf="userType=='seller'" (click)="buyerMode()" class="btn btn-success mr-3">Become a buyer</button>
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0">Search</button>
    </div>

    <ul class="navbar-nav">
      <li *ngIf="userLoggedIn=='false'" routerLink="/login" class="nav-item mx-2">
        <a class="nav-link pointer text-white">
          <i class="fa fa-sign-in"></i> Login
        </a>
      </li>
      <li *ngIf="userLoggedIn=='false'" routerLink="/signup" class="nav-item mx-2">
        <a class="nav-link pointer text-white">
          <i class="fa fa-user-plus"></i> SignUp
        </a>
      </li>
      <li style="position: relative;" *ngIf="userType=='buyer'" routerLink="/cart" class="nav-item mx-2">
        <a class="nav-link pointer text-white">
          <i class="fa fa-shopping-cart"></i> Cart
          <span *ngIf="service.cartCount!=0" class="badge badge-success">{{service.cartCount}}</span>
        </a>
      </li>
      <li *ngIf="userLoggedIn=='true'" (click)="signout()" class="nav-item mx-2">
        <a class="nav-link pointer text-white">
          <i class="fa fa-sign-out"></i> Signuout
        </a>
      </li>
    </ul>

  </div>
</nav>