<app-navbar></app-navbar>

<div class=" mainContent productsBlock">
  <h4>My Products:
    <button routerLink="/add-product" class="btn btn-primary float-right">Add New Product</button>
  </h4>
  <div class="row">
    <div class="col-md-3">
      <div class="productCard" routerLink="/prod-detail-seller">
        <img src="/assets/images/prod4.jpg">
        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
          consectetur .
        </p>
        <h4 class="prodPrice primary mt-0">$89.00</h4>
        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
        <p class="rating">
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star gray"></i> (11)
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard" routerLink="/prod-detail-seller">
        <img src="/assets/images/prod5.jpg">
        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
          consectetur .
        </p>
        <h4 class="prodPrice primary mt-0">$89.00</h4>
        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
        <p class="rating">
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star gray"></i> (11)
        </p>

      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard" routerLink="/prod-detail-seller">
        <img src="/assets/images/prod6.jpg">
        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
          consectetur .
        </p>
        <h4 class="prodPrice primary mt-0">$89.00</h4>
        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
        <p class="rating">
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star gray"></i> (11)
        </p>

      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard" routerLink="/prod-detail-seller">
        <img src="/assets/images/prod7.jpg">
        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
          consectetur .
        </p>
        <h4 class="prodPrice primary mt-0">$89.00</h4>
        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
        <p class="rating">
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star gray"></i> (11)
        </p>

      </div>
    </div>

    <div class="col-md-3">
      <div class="productCard" routerLink="/prod-detail-seller">
        <img src="/assets/images/prod1.jpg">
        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
          consectetur .
        </p>
        <h4 class="prodPrice primary mt-0">$89.00</h4>
        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
        <p class="rating">
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star gray"></i> (11)
        </p>

      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard" routerLink="/prod-detail-seller">
        <img src="/assets/images/prod2.jpg">
        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
          consectetur .
        </p>
        <h4 class="prodPrice primary mt-0">$89.00</h4>
        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
        <p class="rating">
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star gray"></i> (11)
        </p>

      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard" routerLink="/prod-detail-seller">
        <img src="/assets/images/prod3.jpg">
        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
          consectetur .
        </p>
        <h4 class="prodPrice primary mt-0">$89.00</h4>
        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
        <p class="rating">
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star gray"></i> (11)
        </p>

      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard" routerLink="/prod-detail-seller">
        <img src="/assets/images/prod8.jpg">
        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
          consectetur .
        </p>
        <h4 class="prodPrice primary mt-0">$89.00</h4>
        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
        <p class="rating">
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star gray"></i> (11)
        </p>

      </div>
    </div>
  </div>
  
</div>