<app-navbar></app-navbar>
<div class="mainContent">
    <ul class="nav nav-tabs mt-2">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Pending ({{pendingArray.length}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Accepted ({{acceptedArray.length}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Shipped ({{shippedArray.length}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">Delivered ({{deliveredArray.length}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu4">Cancelled ({{cancelledArray.length}})</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="home">
            <h2 class="text-center my-4">Pending Orders</h2>
            <table class="text-center table table-striped bg-white">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date & Time</th>
                        <th>Product Qty</th>
                        <th>Buyer Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Total Bill</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pendingArray">
                        <td>{{item.timestamp}}</td>
                        <td>{{item.timestamp | date: 'mediumDate'}}</td>
                        <td>{{item.myArray.length}}</td>
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.totalBill}}</td>
                        <td><button (click)="orderDetail(item, 'pending')" class="btn btn-primary">Details</button></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="tab-pane container fade" id="menu1">
            <h2 class="text-center my-4">Accepted Orders</h2>
            <table class="table table-striped bg-white">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date & Time</th>
                        <th>Product Qty</th>
                        <th>Buyer Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Total Bill</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of acceptedArray">
                        <td>{{item.timestamp}}</td>
                        <td>{{item.timestamp | date: 'mediumDate'}}</td>
                        <td>{{item.myArray.length}}</td>
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.totalBill}}</td>
                        <td><button (click)="orderDetail(item , 'accepted')" class="btn btn-primary">Details</button>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>

        <div class="tab-pane container fade" id="menu2">
            <h2 class="text-center my-4">Shipped Orders</h2>
            <table class="table table-striped bg-white">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date & Time</th>
                        <th>Product Qty</th>
                        <th>Buyer Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Total Bill</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of shippedArray">
                        <td>{{item.timestamp}}</td>
                        <td>{{item.timestamp | date: 'mediumDate'}}</td>
                        <td>{{item.myArray.length}}</td>
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.totalBill}}</td>
                        <td><button (click)="orderDetail(item , 'shipped')" class="btn btn-primary">Details</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="tab-pane container fade" id="menu3">
            <h2 class="text-center my-4">Delivered Orders</h2>
            <table class="table table-striped bg-white">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date & Time</th>
                        <th>Product Qty</th>
                        <th>Buyer Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Total Bill</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of deliveredArray">
                        <td>{{item.timestamp}}</td>
                        <td>{{item.timestamp | date: 'mediumDate'}}</td>
                        <td>{{item.myArray.length}}</td>
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.totalBill}}</td>
                        <td><button (click)="orderDetail(item , 'delivered')" class="btn btn-primary">Details</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="tab-pane container" id="menu4">
            <h2 class="text-center my-4">Cancelled Orders</h2>
            <table class="table table-striped bg-white">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date & Time</th>
                        <th>Products</th>
                        <th>Product Qty</th>
                        <th>Buyer Name</th>
                        <th>Country</th>
                        <th>Total</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cancelledArray">
                        <td>{{item.timestamp}}</td>
                        <td>{{item.timestamp | date: 'mediumDate'}}</td>
                        <td>{{item.myArray.length}}</td>
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.totalBill}}</td>
                        <td><button (click)="orderDetail(item ,'cancelled')" class="btn btn-primary">Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<div *ngIf="loading" class="spinnerContent">
    <div class="spinner-border text-muted"></div>
</div>