<app-navbar></app-navbar>
<div class="mainContent">
    <ul class="nav nav-tabs">
        <li class="active m-3"><a data-toggle="tab" href="#home">Pending</a></li>
        <li class=" m-3"><a data-toggle="tab" href="#menu1">Accepted</a></li>
        <li class=" m-3"><a data-toggle="tab" href="#menu2">Shipped</a></li>
        <li class=" m-3"><a data-toggle="tab" href="#menu3">Delivered</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">

            <h2 class="text-center">Pending Orders</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date & Time</th>
                        <th>Products</th>
                        <th>Product Qty</th>
                        <th>Buyer Name</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                        <td>Doe</td>
                    </tr>

                </tbody>
            </table>


        </div>
        <!-- ------------------------------------------------------------------------- -->
        <div id="menu1" class="tab-pane fade">
            <h2 class="text-center">Accepted Orders</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date & Time</th>
                        <th>Products</th>
                        <th>Product Qty</th>
                        <th>Buyer Name</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                        <td>Doe</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- ------------------------------------------------------------------------- -->
        <div id="menu2" class="tab-pane fade">
            <h2 class="text-center">Shipped Orders</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date & Time</th>
                        <th>Products</th>
                        <th>Product Qty</th>
                        <th>Buyer Name</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                        <td>Doe</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- ------------------------------------------------------------------------- -->
        <div id="menu3" class="tab-pane fade">
            <h2 class="text-center">Delivered Orders</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date & Time</th>
                        <th>Products</th>
                        <th>Product Qty</th>
                        <th>Buyer Name</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                        <td>Doe</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- ------------------------------------------------------------------------- -->
    </div>
</div>