<div class="loginForm">
  <div class="row" >
    <div class="col-md-4 "></div>
    <div class="col-md-4 mb-5">
      <h1 class="text-center mt-5">Login</h1>
      &nbsp;
      <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field " type="text" placeholder="Username" name="usrnm">
      </div>

      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field " type="text" placeholder="Password" name="usrnm">
      </div>

      <button class="btn btn-primary mb-3"> Submit </button>
      <button routerLink="/signup" class="btn btn-primary"> Create a new Account? </button>

      <div class="col-md-4"></div>

    </div>
  </div>
</div>