.loginForm {
  background: url(/assets/images/Background1.jpeg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  color:#c23030;
}
/* Style the input container */
.input-container {
  display: flex;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  height: 48px;
  position: relative;
  left: 0px;
  top: 0px;
  padding: 15px 10px;
  background: white;
  color: black;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  padding-left: 30%;
  outline: white;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

// .input-field:focus {
//   border: 2px solid dodgerblue;
// }

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
