<app-navbar></app-navbar>

<div class="mainContent">
    <div [formGroup]="onAddProduct" class="styling form-horizontal">

        <h3 class="text-center mb-5">Add New Product</h3>

        <div class="row">
            <div class="col-md-6">

                <p class="pl-2">Please upload images of your product:</p>
                <div *ngFor="let img of imageUrls; index as i" class="anImg mr-3">
                    <img [src]="img">
                    <i (click)="removeImg(i)"
                        class="fa fa-close icon-position text-danger float-right mr-3 pointer"></i>
                </div>
                <div class="topSetting mt-0">
                    <label for="files" class="w-100"> <span class="btn btn-info w-100">Upload Image</span></label>
                    <input (change)="onChangeFiles($event)" style="visibility: hidden; position: absolute;" id="files"
                        class="form-control" type="file" name="files" multiple>
                </div>


                <div class="form-group">
                    <label class="control-label">Product Name</label>
                    <input [(ngModel)]="productName" placeholder="Product Name" formControlName="productName"
                        class="form-control input-md w-100" type="text">
                </div>
                <p class="errorMsg"
                    *ngIf="onAddProduct.get('productName').touched && onAddProduct.get('productName').hasError('required')">
                    Product Name is required</p>


                <div class="form-group">
                    <label class=" control-label w-100">Product Category</label>
                    <select formControlName="productCat" [(ngModel)]="productCat" class="form-control w-100">
                        <option [value]="cat" *ngFor="let cat of catergories">{{cat}}</option>
                        <option value="Please select your product category">Please select your product category</option>
                    </select>
                </div>
                <p class="errorMsg"
                    *ngIf="onAddProduct.get('productCat').touched && onAddProduct.get('productCat').hasError('required')">
                    Product Category is required</p>

                <div class="form-group">
                    <label class=" control-label">Available Quantity</label>
                    <input [(ngModel)]="availableQty" placeholder="Available Quantity" formControlName="availableQty"
                        class="form-control input-md w-100" type="number">
                </div>
                <p class="errorMsg"
                    *ngIf="onAddProduct.get('availableQty').touched && onAddProduct.get('availableQty').hasError('required')">
                    Available Quantity is required</p>

                <div class="form-group">
                    <label class=" control-label w-100">Brand</label>
                    <input [(ngModel)]="brand" placeholder="Brand Name" formControlName="brand"
                        class="form-control input-md w-100" type="text">
                </div>
                <p class="errorMsg"
                    *ngIf="onAddProduct.get('brand').touched && onAddProduct.get('brand').hasError('required')">
                    Brand is required</p>

                <div class="form-group">
                    <label class=" control-label w-100">Delivery Time</label>
                    <select formControlName="deliveryTime" [(ngModel)]="deliveryTime"
                        class="required form-control w-100">
                        <option value="2-5 days">2-5 days</option>
                        <option value="7 days">7 days</option>
                        <option value="10 days">10 days</option>
                    </select>
                </div>
                <p class="errorMsg"
                    *ngIf="onAddProduct.get('deliveryTime').touched && onAddProduct.get('deliveryTime').hasError('required')">
                    Delivery Time is required</p>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class=" control-label">Product Description</label>
                    <textarea rows="6" [(ngModel)]="productDes" formControlName="productDes"
                        class="form-control w-100"></textarea>
                </div>
                <p class="errorMsg"
                    *ngIf="onAddProduct.get('productDes').touched && onAddProduct.get('productDes').hasError('required')">
                    Product Description is required</p>


                <div class="form-group">
                    <label class=" control-label">Product Specifications / Features</label>
                    <ul>
                        <li *ngFor="let spec of productSpecs; index as i">{{spec}}
                            <i (click)="removeSpec(i)" class="fa fa-close text-danger float-right mr-3 pointer"></i>
                        </li>
                    </ul>
                    <div class="input-group">
                        <input (keyup.enter)="addFeature()" type="text" [(ngModel)]="productSpec"
                            [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Features">
                        <div class="input-group-prepend">
                            <span (click)="addFeature()" class="input-group-text">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class=" control-label">Original Price ($)</label>
                    <div class="input-icon">
                        <input name="currency" type="number" placeholder="Original Price" [(ngModel)]="originalPrice"
                            formControlName="originalPrice" class="form-control input-md">
                    </div>
                </div>
                <p class="errorMsg"
                    *ngIf="onAddProduct.get('originalPrice').touched && onAddProduct.get('originalPrice').hasError('required')">
                    Original Price is required</p>

                <div class="form-group">
                    <label class=" control-label">Discounted Price ($)</label>
                    <div class="input-icon">
                        <input type="number" placeholder="Discounted Price" [(ngModel)]="discountedPrice"
                            formControlName="discountedPrice" class="form-control input-md">
                    </div>
                </div>
                <p class="errorMsg"
                    *ngIf="onAddProduct.get('discountedPrice').touched && onAddProduct.get('discountedPrice').hasError('required')">
                    Discounted Price is required</p>

                <div class="form-group">
                    <label class=" control-label w-100">Delivery Fee ($)</label>
                    <div class="input-icon">
                        <input placeholder="Delivery Fee" [(ngModel)]="deliveryFee" formControlName="deliveryFee"
                            class="form-control input-md w-100" type="number">
                    </div>
                </div>
                <p class="errorMsg"
                    *ngIf="onAddProduct.get('deliveryFee').touched && onAddProduct.get('deliveryFee').hasError('required')">
                    Delivery Fee is required</p>

                <div class="form-group">
                    <label class=" control-label w-100">Warranty Policy</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio" name="warrantyPolicy"
                            value="available" formControlName="warrantyPolicy" [(ngModel)]="warrantyPolicy">
                        <label class="custom-control-label" for="customRadio">Warranty Available</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio2" name="warrantyPolicy"
                            value="notAvailable" formControlName="warrantyPolicy" [(ngModel)]="warrantyPolicy">
                        <label class="custom-control-label" for="customRadio2">Warranty Not Available</label>
                    </div>
                </div>

            </div>

            <div class="form-group w-100 text-right">
                <button routerLink="/seller-home" class="btn btn-dark mr-3">Cancel</button>
                <button [disabled]="!onAddProduct.valid" (click)="addProduct()" class="btn btn-primary">Add
                    Product</button>
            </div>
        </div>

</div>
</div>