<app-navbar></app-navbar>


<!-- 

    1. Remove extra div and add "w-100"          Done
    2. Add Categories (10 to 15)                 Done
    3. Input image button styling                Done
    4. Input fields name / id setting            Done
    5. text-transform: normal >  Product Title   Done
    6. Remove 'for' attribute from Label         Done

 -->

<div class="mainContent">
    <form class="styling form-horizontal">

        <h3 class="text-center mb-5">Add New Product</h3>

        <div class="row">
            <div class="col-md-6">
           
                    <div class="topSetting">
                      <label for="files" class="w-100"> <span class="btn btn-info ">Upload Image</span></label>
                      <input style="visibility: hidden; position: absolute;" id="files" class="form-control" type="file" name="files" multiple>
                    </div>
                  
                 
                <div class="form-group">
                    <label class="control-label" >Product Name</label>
                        <input  placeholder="Product Name"
                            class="form-control input-md w-100"  type="text">
                   
                </div>


                <div class="form-group">
                    <label class=" control-label w-100" >Product Category</label>
                    <select class="form-control w-100">
                        <option>Cables</option>
                        <option>Milk Products</option>
                        <option>Balloons</option>
                        <option>Mobile Phones</option>
                        <option>Child Toys</option>
                        <option>Jackets</option>
                    </select>
                </div>


                <div class="form-group">
                    <label class=" control-label" >Available Quantity</label>
                        <input placeholder="Availabe Quantity"
                            class="form-control input-md w-100" type="text">
                 
                </div>

                <div class="form-group">
                    <label class=" control-label w-100" >Brand</label>
                    <input  placeholder="Brand Name"
                        class="form-control input-md w-100"  type="text">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class=" control-label" >Product Description</label>
                        <textarea rows="5" class="form-control w-100" ></textarea>     
                </div>


                <div class="form-group">
                    <label class=" control-label" >Product Specifications /
                        Features</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Features">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class=" control-label" >Original Price</label>
                        <input placeholder="Original Price"
                            class="form-control input-md"  type="text">
                </div>


                <div class="form-group">
                    <label class=" control-label" >Discounted Price</label>
                        <input placeholder="Discounted Price"
                            class="form-control input-md"  type="text">
                </div>
            </div>
            <div class="form-group w-100">
                <label class=" control-label" ></label>
                    <button  class="btn btn-primary w-100">Add Product</button>
            </div>
        </div>

    </form>
</div>