<app-navbar></app-navbar>

<div class="mainContent">


    <!-- <div *ngFor="let item of persons; index as mainIndex" class="arrayItem">
        <p>{{item.id}}</p>
        <p>{{item.name}}</p>
        <p>{{item.address.city}}</p>
        <div *ngFor="let p of item.interests; index as i">
            <p>{{p.id}}</p>
            <p>{{p.name}}</p>
            <button class="btn btn-primary" (click)="updateName(mainIndex, i)">Update Name</button>
        </div>
    </div> -->


    <h4>Featured Products</h4>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="row carousel-item active">
                <div *ngFor="let product of featuredProducts;index as i" class="col-md-4">
                    <div *ngIf="i<3" class="productCard" routerLink="/productDetails">
                        <img [src]="product.productUrls[0]">
                        <p class="prodTitle mb-2">{{product.productDes}}
                        </p>
                        <h4 class="prodPrice primary mt-0">${{product.discountedPrice}}</h4>
                        <p class="originalPrice gray mb-1"><del>${{product.originalPrice}}</del>
                            {{getDiscount(product)}}%</p>
                        <p class="rating">
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=1"
                                [class.gray]="!product.avgRating"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=2"
                                [class.gray]="!product.avgRating || product.avgRating<2"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=3"
                                [class.gray]="!product.avgRating || product.avgRating<3"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=4"
                                [class.gray]="!product.avgRating || product.avgRating<4"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=5"
                                [class.gray]="!product.avgRating || product.avgRating<5"></i>
                            ({{product.totalReview}})
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
            </div>

            <div class="row carousel-item">
                <div *ngFor="let product of featuredProducts;index as i" class="col-md-4">
                    <div *ngIf="i>2 && i<6" class="productCard" routerLink="/productDetails">
                        <img [src]="product.productUrls[0]">
                        <p class="prodTitle mb-2">{{product.productDes}}
                        </p>
                        <h4 class="prodPrice primary mt-0">${{product.discountedPrice}}</h4>
                        <p class="originalPrice gray mb-1"><del>${{product.originalPrice}}</del>
                            {{getDiscount(product)}}%</p>
                        <p class="rating">
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=1"
                                [class.gray]="!product.avgRating"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=2"
                                [class.gray]="!product.avgRating || product.avgRating<2"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=3"
                                [class.gray]="!product.avgRating || product.avgRating<3"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=4"
                                [class.gray]="!product.avgRating || product.avgRating<4"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=5"
                                [class.gray]="!product.avgRating || product.avgRating<5"></i>
                            ({{product.totalReview}})
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>

            </div>

            <div class="row carousel-item">
                <div *ngFor="let product of featuredProducts;index as i" class="col-md-4">
                    <div *ngIf="i>5 && i<9" class="productCard" routerLink="/productDetails">
                        <img [src]="product.productUrls[0]">
                        <p class="prodTitle mb-2">{{product.productDes}}
                        </p>
                        <h4 class="prodPrice primary mt-0">${{product.discountedPrice}}</h4>
                        <p class="originalPrice gray mb-1"><del>${{product.originalPrice}}</del>
                            {{getDiscount(product)}}%</p>
                        <p class="rating">
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=1"
                                [class.gray]="!product.avgRating"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=2"
                                [class.gray]="!product.avgRating || product.avgRating<2"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=3"
                                [class.gray]="!product.avgRating || product.avgRating<3"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=4"
                                [class.gray]="!product.avgRating || product.avgRating<4"></i>
                            <i class="fa fa-star" [class.text-warning]="product.avgRating>=5"
                                [class.gray]="!product.avgRating || product.avgRating<5"></i>
                            ({{product.totalReview}})
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>

            </div>


        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <i class="fas fa-arrow-circle-left text-dark"></i>

        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <i class="fas fa-arrow-circle-right text-dark"></i>
        </a>
    </div>
    <!-- Categories -->
    <div class="categoriesBlock mb-3">
        <h4>Categories</h4>
        <div class="catList">
            <div class="outerDiv" *ngFor="let item of categories; index as i">
                <div (click)="bringCategories(item)" class="anItem" *ngIf="i<8">
                    <img [src]="item.profileUrl">
                    <p class="mb-0">{{item.name}}</p>
                </div>
            </div>
        </div>
        <div class="catList">
            <div *ngFor="let item of categories; index as i">
                <div (click)="bringCategories(item)" class="anItem" *ngIf="i>=8">
                    <img [src]="item.profileUrl">
                    <p class="mb-0">{{item.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Products for you -->
    <div class="productsBlock">
        <h4>Products for you</h4>
        <div class="row">
            <div *ngFor="let p of allProducts" class="col-md-3">
                <div class="productCard">
                    <div (click)="productDetails(p)">
                        <img [src]="p.productUrls[0]">
                        <p class="prodTitle mb-2">{{p.productName}}
                        </p>
                        <h4 class="prodPrice primary mt-0">${{p.discountedPrice}}</h4>
                        <p class="originalPrice gray mb-1">
                            <del>${{p.originalPrice}}</del> {{getDiscount(p)| number : '1.2-2'}}%</p>
                        <p class="rating">
                            <i class="fa fa-star" [class.text-warning]="p.avgRating>=1" [class.gray]="!p.avgRating"></i>
                            <i class="fa fa-star" [class.text-warning]="p.avgRating>=2"
                                [class.gray]="!p.avgRating || p.avgRating<2"></i>
                            <i class="fa fa-star" [class.text-warning]="p.avgRating>=3"
                                [class.gray]="!p.avgRating || p.avgRating<3"></i>
                            <i class="fa fa-star" [class.text-warning]="p.avgRating>=4"
                                [class.gray]="!p.avgRating || p.avgRating<4"></i>
                            <i class="fa fa-star" [class.text-warning]="p.avgRating>=5"
                                [class.gray]="!p.avgRating || p.avgRating<5"></i> ({{p.totalReview || 0}})
                        </p>
                    </div>
                    <button class="btn btn-success w-100" (click)="AddCart(p,i)" data-toggle="modal"
                        data-target="#deleteModal">Add to Cart</button>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- -------------------------------------------------- -->

<div *ngIf="Currentproduct.productUrls" class="modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->

            <div class="modal-header">
                <h4 class="modal-title title-color">item added to your shopping cart</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <img class="image" [src]="Currentproduct.productUrls[0]">

                <span class="detail media-body pl-3">
                    <h4 class="media-heading"><a>{{Currentproduct.productName}}</a></h4>
                    <h5 class="media-heading"> by <a>{{Currentproduct.brand}}</a></h5>
                </span>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" routerLink="/home" class="btn btn-success" data-dismiss="modal">
                        Continue Shopping
                    </button>
                    <button type="button" routerLink="/cart" class="btn btn-primary" data-dismiss="modal">
                        Go to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="loading" class="spinnerContent">
    <div class="spinner-border text-muted"></div>
</div>