<app-navbar></app-navbar>

<div class="mainContent">


    <!-- <div *ngFor="let item of persons; index as mainIndex" class="arrayItem">
        <p>{{item.id}}</p>
        <p>{{item.name}}</p>
        <p>{{item.address.city}}</p>
        <div *ngFor="let p of item.interests; index as i">
            <p>{{p.id}}</p>
            <p>{{p.name}}</p>
            <button class="btn btn-primary" (click)="updateName(mainIndex, i)">Update Name</button>
        </div>
    </div> -->


    <h4>Featured Products</h4>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="row carousel-item active">
                <div class="col-md-4">
                    <div class="productCard" routerLink="/productDetails">
                        <img src="/assets/images/perfume.jpg">
                        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
                            consectetur .
                        </p>
                        <h4 class="prodPrice primary mt-0">$89.00</h4>
                        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="productCard" routerLink="/productDetails">
                        <img src="/assets/images/toys12.jpg">
                        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
                            consectetur .
                        </p>
                        <h4 class="prodPrice primary mt-0">$89.00</h4>
                        <p class="originalPrice gray mb-1"><del>$120.00</del>35% </p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="productCard" routerLink="/productDetails">
                        <img src="/assets/images/iphone11.jpg">
                        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
                            consectetur .
                        </p>
                        <h4 class="prodPrice primary mt-0">$89.00</h4>
                        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
            </div>

            <div class="row carousel-item">
                <div class="col-md-4">
                    <div class="productCard" routerLink="/productDetails">
                        <img src="/assets/images/prod1.jpg">
                        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
                            consectetur .
                        </p>
                        <h4 class="prodPrice primary mt-0">$89.00</h4>
                        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="productCard" routerLink="/productDetails">
                        <img src="/assets/images/prod2.jpg">
                        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
                            consectetur .
                        </p>
                        <h4 class="prodPrice primary mt-0">$89.00</h4>
                        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="productCard" routerLink="/productDetails">
                        <img src="/assets/images/prod3.jpg">
                        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
                            consectetur .
                        </p>
                        <h4 class="prodPrice primary mt-0">$89.00</h4>
                        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
            </div>

            <div class="row carousel-item">
                <div class="col-md-4">
                    <div class="productCard" routerLink="/productDetails">
                        <img src="/assets/images/shoe1.jpg">
                        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
                            consectetur .
                        </p>
                        <h4 class="prodPrice primary mt-0">$89.00</h4>
                        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="productCard" routerLink="/productDetails">
                        <img src="/assets/images/swing.jpg">
                        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
                            consectetur .
                        </p>
                        <h4 class="prodPrice primary mt-0">$89.00</h4>
                        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="productCard" routerLink="/productDetails">
                        <img src="/assets/images/ant.jpg">
                        <p class="prodTitle mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit amet
                            consectetur .
                        </p>
                        <h4 class="prodPrice primary mt-0">$89.00</h4>
                        <p class="originalPrice gray mb-1"><del>$120.00</del> 35%</p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                        <button class="btn btn-success w-100">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <i class="fas fa-arrow-circle-left text-dark"></i>

        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <i class="fas fa-arrow-circle-right text-dark"></i>
        </a>
    </div>
    <!-- Categories -->
    <div class="categoriesBlock mb-3">
        <h4>Categories</h4>
        <div class="catList">
            <div class="outerDiv" *ngFor="let item of categories; index as i">
                <div class="anItem" *ngIf="i<8">
                    <img [src]="item.src">
                    <p class="mb-0">{{item.name}}</p>
                </div>
            </div>
        </div>
        <div class="catList">
            <div *ngFor="let item of categories; index as i">
                <div class="anItem" *ngIf="i>=8">
                    <img [src]="item.src">
                    <p class="mb-0">{{item.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Products for you -->
    <div class="productsBlock">
        <h4>Products for you</h4>
        <div class="row">
            <div *ngFor="let p of allProducts" class="col-md-3">
                <div class="productCard">
                    <div (click)="productDetails(p)">
                        <img [src]="p.productUrls[0]">
                        <p class="prodTitle mb-2">{{p.productName}}
                        </p>
                        <h4 class="prodPrice primary mt-0">${{p.discountedPrice}}</h4>
                        <p class="originalPrice gray mb-1">
                            <del>${{p.originalPrice}}</del> {{getDiscount(p)| number : '1.2-2'}}%</p>
                        <p class="rating">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star gray"></i> (11)
                        </p>
                    </div>
                    <button class="btn btn-success w-100" (click)="AddCart(p)">Add to Cart</button>
                </div>
            </div>

        </div>
    </div>

</div>


<div *ngIf="loading" class="spinnerContent">
    <div class="spinner-border text-muted"></div>
</div>