<app-navbar></app-navbar>
<div class="mainContent">
    <ol class="progtrckr" data-progtrckr-steps="4">
        <li class="progtrckr-done">
            Pending Order</li>
        <!--
 -->
        <li [class.progtrckr-done]="orderObj.myArray[0].status=='accepted' || orderObj.myArray[0].status=='shipped' || orderObj.myArray[0].status=='delivered'"
            [class.progtrckr-todo]="orderObj.myArray[0].status!='accepted' && orderObj.myArray[0].status!='shipped' && orderObj.myArray[0].status!='delivered'">
            Accepted</li>
        <!--
 -->
        <li [class.progtrckr-done]="orderObj.myArray[0].status=='shipped' || orderObj.myArray[0].status=='delivered'"
            [class.progtrckr-todo]="orderObj.myArray[0].status!='shipped' && orderObj.myArray[0].status!='delivered'">
            Shipped</li>
        <!--
 -->
        <li [class.progtrckr-done]="orderObj.myArray[0].status=='delivered'"
            [class.progtrckr-todo]="orderObj.myArray[0].status!='delivered'">Delivered</li>

    </ol>




    <div class="row">
        <div class="col-md-12 mt-5">
            <table class="table table-hover">
                <thead>
                    <tr class="row">
                        <th class="col-md-4 text-center">Product</th>
                        <th class="col-md-2 text-center">Quantity</th>
                        <th class="col-md-2 text-center">Price</th>
                        <th class="col-md-1 text-center">Total</th>
                        <th class="col-md-1 text-center">Delivery Fee</th>
                        <th class="col-md-1 text-center">Status </th>
                        <th class="col-md-1 text-center">Feedback </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row" *ngFor="let p of orderObj.myArray ; index as i">
                        <td class="col-md-4">
                            <div class="media">
                                <a class="thumbnail pull-left"> <img class="media-object" [src]="p.productUrls[0]"
                                        style="width: 72px; height: 72px;"> </a>
                                <div class="media-body pl-3">
                                    <h4 class="media-heading"><a>{{p.productName}}</a></h4>
                                    <h5 class="media-heading"> by <a>{{p.brand}}</a></h5>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-2" style="text-align: center">
                            <div class="input-group mb-3">

                                <input disabled [(ngModel)]="p.productQty" Readonly type="number"
                                    class="form-control text-center" placeholder="0">

                            </div>
                        </td>
                        <td class="col-md-2 text-center"><strong>${{p.discountedPrice}}</strong></td>
                        <td class=" col-md-1 text-center"><strong>${{GrandTotal(p)}}</strong></td>
                        <td class=" col-md-1 text-center"><strong>${{orderObj.shipmentCharges}}</strong></td>
                        <td class=" col-md-1 text-center"><strong>{{p.status || 'pending'}}</strong></td>
                        <td class=" col-md-1 text-center"><button *ngIf="p.status=='delivered'" class="btn btn-primary"
                                data-toggle="modal" data-target="#feedbackModal" (click)="sendProduct(p.key)">Give
                                Feedback</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- -------------------------------------------------- -->

<div class="modal" id="feedbackModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->

            <div class="modal-header">
                <p class="modal-title title-color">Please Give Review about the Product</p>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span class="detail media-body pl-3">
                    <div class="review-block-rate text-center">
                        <p class="mt-0">Rating</p>
                        <button (click)="rateStars('1')" [class.btn-warning]="star1" [class.btn-dark]="!star1"
                            type="button" class="btn btn-xs mr-1" aria-label="Left Align">
                            <i class="fa fa-star text-white"></i>
                        </button>
                        <button (click)="rateStars('2')" [class.btn-warning]="star2" [class.btn-dark]="!star2"
                            type="button" class="btn btn-xs mr-1" aria-label="Left Align">
                            <i class="fa fa-star text-white"></i>
                        </button>
                        <button (click)="rateStars('3')" [class.btn-warning]="star3" [class.btn-dark]="!star3"
                            type="button" class="btn btn-xs mr-1" aria-label="Left Align">
                            <i class="fa fa-star text-white"></i>
                        </button>
                        <button (click)="rateStars('4')" [class.btn-warning]="star4" [class.btn-dark]="!star4"
                            type="button" class="btn btn-xs mr-1" aria-label="Left Align">
                            <i class="fa fa-star text-white"></i>
                        </button>
                        <button (click)="rateStars('5')" [class.btn-warning]="star5" [class.btn-dark]="!star5"
                            type="button" class="btn btn-dark btn-xs mr-1" aria-label="Left Align">
                            <i class="fa fa-star text-white"></i>
                        </button>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Comments</label>
                        <textarea rows="6" [(ngModel)]="comment" class="form-control w-100"></textarea>
                    </div>
                </span>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="reviewDataFirebase()">
                        Submit Review
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div *ngIf="loading" class="spinnerContent">
    <div class="spinner-border text-muted"></div>
</div>