<app-navbar></app-navbar>
<div class="checkout row">
    <div class=" col-md-10 offset-md-1">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input [(ngModel)]="searchTxt" type="text" class="form-control" placeholder="Search here...">
        </div>
        <table class="table table-striped text-center bg-white table-bordered">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date & Time</th>
                    <th>Address</th>
                    <th>Delivery Fee</th>
                    <th>Grand Total
                        <i *ngIf="icon == false" (click)="assending()" class="fas fa-sort-up pointer"></i>
                        <i *ngIf="icon == true" (click)="decending()" class="fas fa-sort-down pointer"></i>
                    </th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let o of myProducts | search: searchTxt; index as i">
                    <td>{{o.timestamp}}</td>
                    <td>{{o.timestamp | date: 'short'}}</td>
                    <td>{{o.address}}</td>
                    <td>${{o.shipmentCharges}}</td>
                    <td>${{o.totalBill}}</td>
                    <td>{{o.status}}</td>
                    <td><button class="btn btn-primary" (click)="orderDetails(o)">Details</button></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>