<app-navbar></app-navbar>
<div class="checkout row">
    <div class=" col-md-10 offset-md-1">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Placed Date & Time</th>
                    <th>Shipment Address</th>
                    <th>Grand Total</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of myProducts; index as i">
                    <td>{{p.timestamp}}</td>
                    <td>{{p.timestamp}}</td>
                    <td>${{p.shipmentCharges}}</td>
                    <td>{{p.totalBill}}</td>
                    <td>{{status}}</td>
                    <td><button class="btn btn-primary" routerLink="/details">Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>