<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Reset Password</h2>
            <p class="text-center">Please enter your email address to get a reset link of your password!</p>
            <div class="form-group">
                <label class="w-100">Email</label>
                <input [(ngModel)]="email" type="email" placeholder="Email" class="form-control">
            </div>
            <button [disabled]="!email" (click)="resetPassword()" class="btn btn-primary w-100">Submit</button>
            <button routerLink="/login" class="btn btn-link w-100">Cancel</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>